#shell{
    border: solid gray;
    background: gray;
    width: 1500px;
    height: 1000px;
}

.header{
    position: relative;
    right: 10px;
    margin: auto;
    background: whitesmoke; 
    top: 10px;
    border: solid gray;
    height: 100px;
    width:960px;
    text-align: center;

}
.nav{
    background: whitesmoke; 
    position: relative;
    top: 20px;
    right: 10px; 
    margin: auto;
    border: solid gray;
    height: 100px;
    width:960px;
    text-align: center;
}

.sectionContainer{
    background: whitesmoke; 
    border:solid gray;
   position: relative; 
   margin-top: 40px;
   left: 257px;
   float: left;
    height: 250px;
   width: 500px;
}
.aside{
    background: whitesmoke; 
    text-align: center; 
    border:solid gray;
    margin-top: 40px;
    margin-right:277px;
    float: right; 
    width: 430px;
    height: 250px;
}
.footer{
    text-align:center;
    position: relative;
    left: -10px; 
    background: whitesmoke; 
    bottom: -350px;
    margin: auto;
    border: solid gray;
    height: 100px;
    width:960px;
    text-align: center;

}

#article{
    background:gray; 
    position: absolute;
    left: 20px;
    border: solid gray;
    width: 450px;
    height: 160px;
}

#hContainer{
    text-align: center;
    border: solid gray;
    background: whitesmoke;
    height: 50px;
    width: 95%;
    position: relative;
    top: -20px;
    margin: auto;
}
  


#pContainer{

    text-align: center;
    border: solid gray;
    background: whitesmoke;
    height: 50px;
    width: 95%;
    position: relative;
    bottom: 20px;
    margin: auto;
}


h1{
    text-align: center; 
    color: gray; 
}
h2{
    text-align: center;
    color: gray; 
}

h3{
    color: whitesmoke; 
    text-align:center; 
    position: relative;
    top: -10px;
}