body {
background-color: crimson;
opacity: "0.5";
}
border{
    margin: 0 auto;
	border: 10px outset #ddd;
}
header{
        border: solid black;
        background: rgb(24, 23, 23);
        padding: 5px;
        text-align: center;

}
nav{
    border: solid black;
    height: 4.5; 
    padding: 1;
    background: crimson;
}

section{
    border: hidden black;
    background: rgb(24, 23, 23);
    height: 600;
    width: 50%;
    margin-top: 5px;
    line-height: 3; 
}



aside{
    position: relative;
    height: 400px;
    width: 45%;
    border: solid black;
    background: rgb(24, 23, 23);
   float:right;
   
    bottom: 600;
    line-height: 2; 
}

footer{
    border: hidden;
    height: 100px;
    position: relative;
    bottom: -300;
    background: rgb(24, 23, 23);
}
}
